#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.wrapper .ant-card-body {
  position: relative;
}

.wrapper {
  width: 70vw;
  margin: 0 auto;
}

.post-reaction {
  font-size: 1rem;
}

.element-wrapper {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 1rem;
  width: 200px;
}
